.navBar {
  background-color: #fe0000;
  height: 20%;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.navBarLinks {
  height: 64px;
  background-color: #fe0000;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: space-around;
  align-items: center;
}

.navBarLinks a {
  color: #000000;
  text-decoration: none;
  background-color: lightgreen;
  border: 4px solid darkgreen;
  border-radius: 10px;
  padding: 10%;
}

.navBarLinks a:hover {
  color: lightgreen;
  background-color: black;
}

.background {
  position: absolute;
  top: 64px;
  z-index: -1;
  background-color: #008001;
  height: calc(100vh - 64px);
  width: 100%;
}

.headImage {
  display: block;
  height: 80%;
  width: 80%;
  margin: auto;
}
