.navBar {
  background-color: #0a0e0f;
  height: 150px;
  width: 100%;
  z-index: 10;
  position: fixed;
  user-select: none;
}

.navBarLinks {
  height: 64px;
  background-color: #0a0e0f;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: space-around;
  align-items: center;
}

.navBarLinks a {
  color: whitesmoke;
  background-color: #ee3135;
  border: 4px solid #ee3135;
  text-decoration: none;
  border-radius: 10px;
  padding: 10%;
  @media screen and (max-width: 450px) {
    padding: 0%;
    border: 1px solid #ee3135;
  }
}

.navBarLinks a:hover {
  color: white;
  background-color: #0a0e0f;
  border: 4px solid #ee3135;
  @media screen and (max-width: 450px) {
    border: 1px solid #ee3135;
  }
}

.background {
  position: absolute;
  top: 214px;
  z-index: -1;
  background-color: #ee3135;
  height: max-content;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headImage {
  display: block;
  height: 100%;
  width: 800px;
  margin: auto;
  @media screen and (max-width: 1000px) {
    width: 80%;
  }
}

.contextDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  height: max-content;
  min-height: calc(100vh - 214px);
}

.portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio a img {
  width: 300px;
  height: 300px;
  margin: 1%;
  @media screen and (max-width: 350px) {
    width: 250px;
    height: 250px;
  }
}

.portfolio a {
  width: 300px;
  height: 300px;
  margin: 1%;
  @media screen and (max-width: 350px) {
    width: 250px;
    height: 250px;
  }
}

.header {
  margin: 0 auto;
  font-weight: bolder;
  user-select: none;
  font-size: 2rem;
  text-align: center;
}

.homeDivide {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 214px);
}

.sideOne {
  width: 50%;
  height: max-content;
  min-height: calc(100vh - 214px);
  text-align: center;
}

.image {
  width: 80%;
}

.image2 {
  width: 300px;
}

.image3 {
  @media screen and (max-width: 650px) {
    width: 80%;
  }
}

.contact {
  text-align: center;
}
